---
title: Urban
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Nuestra misión</h2>
		<p class="subtext editable"><strong>Soliva Tech Club</strong> es el club tecnológico del barrio de Soliva, Malaga, España.</p>
		<p class="subtext editable">Nuestra misión es introducir a niñas y niños en la <strong>tecnología</strong> creativa de una forma directiva y manipulativa.</p>
		<p class="subtext editable">Es totalmente <strong>gratuito</strong> gracias a nuestros voluntarios y los organismos colaboradores.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contacta con nosotro/as</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Algunos de nuestros proyectos</h3>
			<p class="editable">Scratch, juegos, robots, gadgets... ¡Nos encantan!</p>
			<p class="editable"><a href="{{ site.baseurl }}/proyectos/">Ver proyectos &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for proyecto in site.proyectos limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ proyecto.url }}"><img src="{% include relative-src.html src=proyecto.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><a href="https://ampaproyectalia.wordpress.com/"><img src="{{ site.baseurl }}/images/ampa-proyectalia.png" width="250" style="margin-bottom: 40px;"></a></li>
				<li><a href="https://blogsaverroes.juntadeandalucia.es/ceiprectoraadelaidadelacalle/"><img src="{{ site.baseurl }}/images/ceip.jpeg" width="300"></a></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Nuestros colaboradores</h3>
			<p class="editable">Agradecemos a estas organizaciones el apoyo a Soliva Tech Club.</p>
		</div>
	</div>
</section>
