---
title: Soliva Tech Club
---

<section class="hero diagonal">
	<div class="container">
		<p class="subtext editable"><strong>Soliva Tech Club</strong> es el club tecnológico del barrio de Soliva, Malaga, España.</p>
		<h2 class="editable">Nuestra misión</h2>
		<p class="subtext editable">Introducir a niñas y niños en la <strong>tecnología</strong> creativa de una forma divertida y manipulativa. El club es totalmente <strong>gratuito</strong> gracias al apoyo de nuestros <a href="{{ site.baseurl }}/voluntarios/"><strong>voluntarios</strong></a>, las donaciones y los organismos colaboradores.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contacta con nosotro/as</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Algunos de nuestros proyectos</h3>
			<p class="editable">Scratch, juegos, robots, gadgets... ¡Nos encantan!</p>
			<p class="editable"><a href="{{ site.baseurl }}/proyectos/">Ver proyectos &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for proyecto in site.proyectos limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ proyecto.url }}"><img src="{% include relative-src.html src=proyecto.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><a href="https://ampaproyectalia.wordpress.com/"><img src="{{ site.baseurl }}/images/ampa-proyectalia.png" width="250" style="margin-bottom: 40px;"></a></li>
				<li><a href="https://blogsaverroes.juntadeandalucia.es/ceiprectoraadelaidadelacalle/"><img src="{{ site.baseurl }}/images/ceip.jpeg" width="300"></a></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Nuestros colaboradores</h3>
			<p class="editable">Agradecemos a estas organizaciones el apoyo a Soliva Tech Club.</p>
		</div>
	</div>
</section>

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Nuestro Compromiso</h2>
		<ul class="subtext editable">
			<li style="color:white"><span style="color:white">Nos comprometemos a inspirar y apoyar a los jóvenes para aprender a crear tecnología.</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos con los más altos estándares posibles de protección de la infancia.</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos a no cobrar a los niños que asistan ni a sus padres.</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos a fomentar la participación de los padres en nuestro club.</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos a compartir nuestro conocimiento de forma gratuita (libre y abierto).</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos a compartir nuestro conocimiento tanto dentro de nuestro club como fuera.</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos a fomentar la colaboración, las tutorías y ayudas entre compañeros y los proyectos entre los asistentes.</span></li>
			<li style="color:white"><span style="color:white">Nos comprometemos a dar la bienvenida a voluntarios y niños sin importar el género, la raza, la orientación sexual, el credo, la religión o su capacidad.</span></li>
		</ul>
	</div>
</section>

