---
title: Proyectos
heading: Proyectos
subtitle: Mira algunos ejemplos de nuestros proyectos.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_proyectos/" class="btn"><strong>&#9998;</strong> Proyectos</a></p>
		<ul class="image-grid">
			{% for proyecto in site.proyectos %}
				<li>
					<a href="{{ site.baseurl }}{{ proyecto.url }}">
						<img src="{% include relative-src.html src=proyecto.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ proyecto.name }}</div>
							<div class="position">{{ proyecto.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
